<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registration</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            input{
                padding: 10px 15px;
                border: solid 1px #000000;
                border-radius: 10px;
                font-size: x-large;
            }
            form{
                text-align: center;
                padding-top: 10%;
            }
        </style>
    </head>
    <body>
        <div class="Form">
            <form action="registration" >
                <input type="name" name="fname" placeholder="First Name" required><br><br>
                <input type="name" name="lname" placeholder="Last Name" required><br><br>
                <input type="number" name="age" placeholder="Age" required><br><br>
                <input type="name" name="language" placeholder="Language Preference" required><br><br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>